nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
vendor/
public/vendor/
.vagrant
build.local.properties
phinx.yml
composer.phar
wp-admin/
wp-includes/
wp/*
!wp-config.php
xmlrpc.php
license.txt
readme.html
wp/
data/*.sql
updraft
wp-content/plugins
wp-content/themes
*.local.*
