files:
  "/etc/php.d/wordpress.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 128M
      post_max_size = 64M

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_wp_setup.sh":
    mode: "000755"
    owner: root 
    group: root 
    content: |
      #!/usr/bin/env bash
      su - webapp -s /bin/bash -c "env ; id ; cd /var/app/ondeck ; ./vendor/bin/phing setup"
container_commands:
  SetupWp:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_wp_setup.sh"
    ignoreErrors: false
    leader_only: true
